lightning_logs/
tb_logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pkl
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
.DS_Store
.idea/
.vscode/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
/.idea
